# Python
__pycache__/
*.py[cod]
*.pyc
venv/

# Android
/build/
/.gradle/
/local.properties
*.apk
*.aab

# Ваши специфичные правила
/server/settings.py
/server/ML/fatigue-detection-yawdd/data/fatigue_dataset
/document/