<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileApp"
        tools:targetApi="31">

<!--        &lt;!&ndash; Стартовая активити &ndash;&gt;-->
<!--        <activity-->
<!--            android:name=".LoginActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

<!--        &lt;!&ndash; Вторая активити &ndash;&gt;-->
<!--        <activity android:name=".MainActivity"-->
<!--            android:exported="false" />-->

        <!-- Стартовая активити -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Вторая активити -->
        <activity android:name=".MainActivity"
            android:exported="false" />

        <!-- Третья активити -->
        <activity android:name=".SettingsActivity"
            android:exported="false" />

    </application>

</manifest>